.animation{
    opacity: 0.01;
}

.animation.animation-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.animation-leave {
    opacity: 1;
}

.animation-leave.animation-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.sidebar{
    display: flex;
    flex-wrap: nowrap;
    height: 815px;
    overflow: scroll;
}